<h2>Edit <%= @pannier.name %> </h2>
<h3>Edit this pannier and its contents.<h3>
  <% if locals.include?(:error_list) %>
    <div>
      <% error_list.each do |e| %>
        <h2 class="text-danger"><strong><%= e %></strong></h2>
      <% end %>
    </div>
  <% end %>
<form action="/panniers/<%= @pannier.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="pannier[name]">Name:</label>
  <input type="text" name="pannier[name]" id="pannier_name" value="<%= @pannier.name %>">
  <br>
  <% spots = ["Front Left", "Front Right", "Back Left", "Back Right", "Handlebar Bag", "Rack Bag"]%>
  <div class="form-group">
    <label for="pannier_location">Which pannier is this?</label>
      <select class="form-control" id="pannier_location" name="pannier[location]">
        <% spots.each do |spot| %>
          <% if spot == @pannier.location %>
            <option selected="selected"><%= spot  %></option>
            <% else %>
              <option><%= spot  %></option>
            <% end %>
        <% end %>
      </select>
  </div>
  <br>
  <h3>Move existing items in or out of this pannier:</h3><br>
  <% Item.joins(:pannier).where(panniers: {user_id: current_user.id}).each do |item| %>
    <label><%= item.name %></label>
    <input type="checkbox" id="item_<%=item.id%>" name="pannier[item_ids][]" value="<%= item.id %>" <%='checked' if @pannier.items.include?(item) %>><br>
  <% end %>

  <label><h4>Or add an additional item:</h4></label><br>
  <input type="text" id="new_item" name="item[name]" placeholder="Item Name">
  <input type="text" name="item[weight]" placeholder="Item Weight (kg)">
  <br>
  <button type="submit" class="btn btn-primary btn-lg">Edit Pannier</button>
</form>
