<h1><%= @pannier.name %></h1>
<h4>(<%= @pannier.location %>)</h4>
<h4>Items: </h4>
  <table class="table-condensed table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight (kg)</th>
      </tr>
    </thead>
    <tbody>
      <% @pannier.items.each do |item| %>
        <tr>
          <td><a href="/items/<%= item.id %>"><%= item.name %></a></td>
          <td><%= item.weight %></td>
        </tr>
      <% end %>
      <!--TODO Figure out best way to display total weight
        <tr>
          <td><strong>TOTAL</strong></td>
          <% %>
          <td><</td>
      -->
    </tbody>
  </table>

<h4><a href="/panniers/<%= @pannier.id %>/edit" >Edit</a></h4>
