<h2>Edit Item</h2>
<h3>Edit your item's name and/or weight in kilograms.<h3>
  <% if locals.include?(:error_list) %>
    <div>
      <% error_list.each do |e| %>
        <h2 class="text-danger"><strong><%= e %></strong></h2>
      <% end %>
    </div>
  <% end %>
<form action="/items/<%= @item.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="item[name]" id="item_name" value="<%= @item.name %>">
  <br>
  <input type="text" name="item[weight]" id="item_weight" value="<%= @item.weight %>">
  <br>

  <h4>Select an existing pannier, or "Create new" to create a new one below</h4>
    <% current_user.panniers.each do |xpannier| %>
      <label><%= xpannier.name %> (<%= xpannier.location %>)</label>
      <input type="radio" id="<%= xpannier.name %>" name="item[pannier_id]" value="<%= xpannier.id %>" <%='checked' if @item.pannier == xpannier %>><br>
    <% end %>
    <label>Create new</label>
    <input type="radio" name="item[pannier_id]" value="" id="">
  <br>
  <br>
  <h4>Create a new pannier for this item:</h4>
  <input type="text" name="pannier[name]" id="pannier_name" placeholder="Pannier Name">
  <br>
  <!--TODO: remove elements from the spots array that were already assigned as pannier[location]s -->
  <% spots = ["Front Left", "Front Right", "Back Left", "Back Right", "Handlebar Bag", "Rack Bag"]%>
  <div class="form-group">
    <label for="pannier_location">What type of pannier is this?</label>
      <select class="form-control" id="pannier_location" name="pannier[location]">
        <% spots.each do |spot| %>
          <option><%= spot  %></option>
        <% end %>
      </select>
  </div>
  <br>

  <button type="submit" class="btn btn-primary btn-lg">Edit Item</button>
</form>
